body{
    padding: 0;
    margin: 0px;
}

a {
    border-right: solid 2px blue;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    top: 0px;
    position: fixed;
    width: 100%;
    background-color: #c9c9ff;
}

li {
    float: left;    
    border-right: 1px solid #5d5d61;
}

li a {
    /*display: block; - Displaying the links as block elements makes the whole link
     area clickable (not just the text), and it allows us to specify padding 
     (and height, width, margins, etc. if you want)*/
    display: block;
    color: #8a8484;
    text-align: center;
    padding: 20px 16px;
    text-decoration: none;
    border: 1px solid #8a8484;
    height: 25px;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
    text-decoration: underline;
}

a {text-decoration: none; color:black; }
a:visited { text-decoration: none; }
/* Pulled from internet; not required?
a:hover { text-decoration: none; }
a:focus { text-decoration: none; }
a:hover, a:active { text-decoration: none; }
*/
.logo{
    height: auto;
    width: 75px;
}

@import url('https://fonts.googleapis.com/css?family=Grand+Hotel');
h1 {
    color: #8a8484;
    font-family: 'Grand Hotel';
    font-size: 800%;
    padding-top: 0px;
    text-align: center;
    margin-bottom: 0;
}
#homepageh3{
    font-family: 'Grand Hotel', cursive;
    color: #8a8484;
    font-size: 25px;
    margin-top: 50px;
    padding-top: 0px;
    text-align: center;
    font-style: italic;
}
.navBarSpacing{
    height: 20px;
}
/* HOME PAGE */

#divindexslideshow{
	text-align: center;
}

.indexslideshow{
	width: 900px;
	height: 500px;
	margin: 0 auto;
}

/* PORTFOLIO PAGE */
.containerGalery {
    text-align: center;
    margin: 50px auto;
    
}
.galery1, .galery2, .galery3 {
	width: 1000px;
	height: 500px;
	margin: 50px auto;
}

/*
.buttonLeft{
    position: absolute;
    top: 50%;
    left: 0%;
    transform: translate(0%,-50%);
}

.buttonRight{
	position: absolute;
	top: 50%;
	right: 9%;
	transform: translate(0%,-50%);
}

*/

/*
.w3-black, .w3-hover-black:hover {
    color: #fff!important;
    background-color: #000!important;
}

.w3-display-left {
    position: absolute;
    top: 50%;
    left: 0%;
    transform: translate(0%,-50%);
    -ms-transform: translate(-0%,-50%);
}

.w3-btn, .w3-button {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.w3-btn, .w3-button {
    border: none;
    display: inline-block;
    outline: 0;
    padding: 8px 16px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    color: inherit;
    background-color: inherit;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
}

}
w3.css:15
button, select {
    text-transform: none;
}
w3.css:15
button, input {
    overflow: visible;
}
w3.css:14
button, input, select, textarea {
    font: inherit;
    margin: 0;
}
w3.css:2
*, *:before, *:after {
    box-sizing: inherit;
}
*/
input[type="button" i], input[type="submit" i], input[type="reset" i], input[type="file" i]::-webkit-file-upload-button, button {
    border-color: rgb(216, 216, 216) rgb(209, 209, 209) rgb(186, 186, 186);
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
    padding: 1px 7px 2px;
}

input[type="button" i], input[type="submit" i], input[type="reset" i], input[type="file" i]::-webkit-file-upload-button, button {
    align-items: flex-start;
    text-align: center;
    cursor: default;
    color: buttontext;
    background-color: buttonface;
    box-sizing: border-box;
    padding: 2px 6px 3px;
    border-width: 2px;
    border-style: outset;
    border-color: buttonface;
    border-image: initial;
}

input, textarea, select, button {
    text-rendering: auto;
    color: initial;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    margin: 0em;
    font: 400 11px system-ui;
}

input, textarea, select, button, meter, progress {
    -webkit-writing-mode: horizontal-tb;
}
user agent stylesheet
button {
    -webkit-appearance: button;
}















