/* MOBILE VERSION */


/* Medium devices (Iphone 6, 375px ) */
@media (max-width: 375px) and (max-height: 667px){ 
/* homepage */

    h1{
        text-align: center;
        font-size: 10%;
        max-width: 375px;
    }

    #homepageh3{
        text-align: center;
        width: 375px;
    }

    .indexslideshow{
    max-width: 375px;
    height: 50px;
    margin: 0 auto;

}

    ul{
        width: 100%;
        margin: 0px;
        padding: 0px;
    }
    li {
    font-size: 10.5px;
    float: left;    
    border-right: 1px solid #5d5d61;
    margin: 0px;
}


/*bestelformulier*/
    form{
        height: 667px;
        width: 40%%;
        }
}
    


body{
    padding: 0px;
    margin: 0px;
}


/*NAVIGATION BAR*/

a {
    border-right: solid 2px blue;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    top: 0px;
    position: fixed;
    width: 100%;
    background-color: #c9c9ff;

}

li {
    float: left;    
    border-right: 1px solid #5d5d61;
}

li a {
    /*display: block; - Displaying the links as block elements makes the whole link
     area clickable (not just the text), and it allows us to specify padding 
     (and height, width, margins, etc. if you want)*/
    display: block;
    color: #8a8484;
    text-align: center;
    padding: 20px 16px;
    text-decoration: none;
    border: 1px solid #8a8484;
    height: 25px;
}


li a:hover {
    background-color: #9696EB;
    color: white;
    text-decoration: underline;
    transition: linear all 0.40s;
    padding: 20px;
}

a {
    text-decoration: none; color:black; }
a:visited { text-decoration: none; }
/*LOGO*/

.logo{
    height: auto;
    width: 75px;
}

/*ABOUT US*/

.container {
    width: 80%;
    margin: 0 auto;
    box-sizing: border-box;
}

/*.container div {
    float:left;
    margin-bottom: 40px;
    margin-right: 40px;
    width:  45%;
    height: 50%;
    box-sizing: border-box;
    border: black solid 2px;
}*/

.subcontainer {
    width: 100%;
    height: 40vh;
    border: 1px solid black; 
}

.subcontainer p {
    clear: right;
    
}

.block{
    display: inline-block;
    width: 40%;
    float: left;
    margin: 20px;
}

.subcontainerimg {
    width: 50%;
    border: 1px solid black;
    height: 35vh;
    float: left;
    margin-right: 50px;
}

.subcontainerimg img {
    width: 100%;
    height: 100%;
}

.aboutUsImage {
    width: 100%;
    height: 100%;
}



div p {
    margin-top: 0px;
}

.AboutUsAndPortfolio {
    color: #8a8484;
    font-family: 'Grand Hotel';
    font-size: 800%;
    padding-top: 0px;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

/*HEADER*/

@import url('https://fonts.googleapis.com/css?family=Grand+Hotel');
h1 {
    color: #8a8484;
    font-family: 'Grand Hotel';
    font-size: 700%;
    padding: 0;
    text-align: center;
    margin: 30px, auto;
    
}

/* HOME PAGE */
#homepageh3{
    font-family: 'Grand Hotel', cursive;
    color: #8a8484;
    font-size: 25px;
    margin: 0;
    padding-top: 0px;
    text-align: center;
    font-style: italic;
}
.navBarSpacing{
    height: 20px;
}


#divindexslideshow{
    text-align: center;
}

.indexslideshow{
	width: 800px;
	height: 400px;
	margin: 0 auto;

}

/* PORTFOLIO PAGE */

.portfolioParagraph{
    text-align: center;
    font-family: 'Lucida Console', cursive;
    font-size: 20px;
    font-style: none;

}

#orderbutton{
    border: 2px solid #8a8484;
    text-align: center;
    background-color: #c9c9ff;
    padding: 5px;
    margin: 10px auto;

}
.containerGalery {
    text-align: center;
    margin: 15px auto;
    
}
.galery1, .galery2, .galery3 {
	width: 1000px;
	height: 500px;
	margin: 5px  auto;

}

.titelGalery{
    text-align: center;
    font-family: 'Grand Hotel', cursive;
    margin-bottom: 0px;
    font-size: 20px;
}

/*ORDERLIST CSS*/

form{
            margin: 100px auto;
            
            width: 500px;
            height: 550px;
            background-color: #c9c9ff;
            padding: 20px;
            border: 4px solid #cecbcb ;
            
            color: #8a8484

        }
    textarea{
        resize: none;
        margin: 10px;
        width: 200px;
        border: 1px solid #d8d8d8;
    }
    textarea:hover{
        background-color: #d8d8d8;
        border-color: black;
        transition: all 0.40s;
    }
    .textinput{
        border: 1px solid #d8d8d8;
        margin: 10px;
        width: 205px;
    }

    .textinput:hover{
        background-color: #d8d8d8;
        border-color: black;
        transition: all 0.40s;
    }
    h3{
        text-align: center;
    }
    select{
        width: 205px;
        margin: 10px;
        border: #d8d8d8;


    }
    select:hover{
        background-color: #d8d8d8;
        border: solid 1px black;
        transition: all 0.40s;
        color: #8a8484;
    }

    select{
        color: #8a8484;
    }

    #radio{
        margin: 10px;
    }
    .radio{
        text-align: left;
        padding-left: 10px;
        
    }

    .submitbutton{
        width: 205px;
        margin: 10px;
        text-align: center;
        cursor: pointer;
        color: #8a8484;

    }
    .submitbutton:hover{
        background-color:#d8d8d8;
        border: solid 1px black;
        transition: all 0.40s;
        color: #8a8484;
    }
    #search{
        width: 300px;
        padding: 7px;
        border: 1px solid #607d8b;
    }
    #submit{

        padding: 7px;
        margin:-5px;
        border: 1px solid #607d8b;
        cursor: pointer;
    }

    #submit:hover{
        background-color: #607d8b;
        transition: all 0.40s
    }

    .bodyOrderlist{
        background-image:url("images/homepage/slide3.jpg");
        width: 100%;
        height: auto;
        
    }


